* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 95vh;
  padding: 2em;
  background-color: #d9d9d9
}

a {
  text-decoration: none;
  color: #000;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}